### IntelliJ IDEA ###
.idea/
*.iml
out/
target/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
nbactions.xml
nb-configuration.xml
build.xml
build-impl.xml
genfiles.properties
nbbuild.xml

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Windows ###
Thumbs.db

### Logs ###
*.log

### Java-related ###
*.class
*.war
*.ear

### Misc ###
/data
/data/*.txt
*.txt
*.bak
*.swp
release.properties
pom.xml.releaseBackup
pom.xml.tag
manifest.mf
*.orig
*.rej
/build/
